.header{
    background-image:url(../images/bg1.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    size: cover;
    /* padding: 100px; */
    padding-bottom: 100px;
    margin-bottom: 10000px;
    border: 400px;
    height: 800px;
    width: 400;
    background-image: url(../images/bg2.png);
    /* height: 400px;
    width: 100px; */

}